name: deploy to a server on push

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:

      - name: Get latest code
        uses: actions/checkout@v2

      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: '14.17.6'

      - name: Build Project
        run: |
          npm install
          npm run build 

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@4.3.2
        with:
          server: ${{ secrets.FTP_HOST }}
          port: 65100
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASSWORD }}
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            **/src/**
          
  # - name: Copy folder content recursively to remote
  #   uses: garygrossgarten/github-action-scp@release
  #   with:
  #     local: my-repo
  #     remote: ~/target/directory
  #     host: 127.0.0.1
  #     port: 65100
  #     username: act2022
  #     privateKey: ${{secrets.PRIVATE_KEY}} 
  #     
